<h1>TODO!</h1>
<%= simple_form_for @task do |t| %>
  <%= t.input :title %>
  <%= t.input :note %>
  <%= t.input :due_date %>
  <%= t.submit %>
<% end %>
<br />
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Note</td>
        <td>Due Date</td>
        <td>Time Left</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
    <% @tasks.each do |t| %>
      <tr>
      <td><%= t.title %></td>
      <td><%= t.note %></td>
      <td id="due-date-<%= "#{dom_id(t)}" %>"><%= t.due_date %></td>
      <td id="time-left-<%= "#{dom_id(t)}" %>"></td>
      <td class="status"><%= t.status %></td>
      </tr>
    <% end %>
    </tbody>
  </table>