<h1>TODO!</h1>
<%= simple_form_for @task do |t| %>
  <%= t.input :title %>
  <%= t.input :note %>
  <%= t.input :due_date %>
  <%= t.submit %>
<% end %>
<br />
<% @tasks.each do |t| %>
  <table>
    <thead>
      <td>Title</td>
      <td>Note</td>
      <td>Due Date</td>
      <td>Time Left</td>
      <td>Status</td>
    </thead>
    <tbody>
      <td><%= t.title %></td>
      <td><%= t.note %></td>
      <td class="due-date" id="<%= "#{dom_id(t)}" %>"><%= t.due_date %></td>
      <td class="time-left"></td>
      <td class="status"></td>
    </tbody>
  </table>
<% end %>